/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*--UX Colors
Light beige shade: #efe7db 
Light grey shades: #e8e9ea Porcelain
Red Shade: #ca2f2f Benjamin Moore Red
Grey shades: #778899 Light Slate Gray
--*/

/*--Google Fonts:
Fredericka the Great: weight 400, headings h2
Caveat: weight 600, headings h3
Josefin Slab: weight 400-700, general font serif
--*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Cormorant:wght@400;500;600;700&family=Exo:wght@400;500;600;700&family=Fredericka+the+Great&family=Josefin+Slab:wght@400;500;600;700&display=swap');

body {
    font-family: 'Josefin Slab', serif; 
    color:#778899;
    background-color: #efe7db;
}
p {
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    font-weight: 600;
}
h2{
    color: #ca2f2f; 
    font-family: 'Fredericka the Great', cursive; 
    font-size: 30px; 
    text-align: center;
    text-transform: uppercase;
}
h3{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    font-weight: 600; 
    text-align: center;
}
/*--Links--*/
a {
    color: #778899;
    font-weight: bold; 
    text-decoration:none;
}
a:hover, a:focus, a:active {
    color: #ca2f2f;
    text-decoration: none; 
}
/*--Buttons--*/
.navbar-buttons .btn{
    color: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-block;
    padding: 5px;
    font-size: 10px;
    font-weight: 700;
    border: 1px solid #778899;
    background-color: #fafafa;
    -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
}
.btn:hover, .btn:focus {
    background-color: #ca2f2f;
    border: 1px solid #778899;
}
.button-order{
    padding-bottom: 300px;
    padding-top: 40px;
    text-align: center; 
}
.button-contact {
    padding-bottom: 200px; 
    padding-top: 20px;
    text-align: center; 
    -webkit-box-pack: center;
    -moz-box-pack: center; 
    -ms-flex-pack: center; 
}
#btn-read, #btn-order, #btn-contact-design, #btn-submit, #btn-download, .btn-signup{
    border: 1px solid gray; 
    background-color: #ca2f2f; 
    font-weight: 600;
    text-align: center;
}
#btn-download { 
    margin-bottom: 150px;
}
#btn-read:hover, #btn-download:hover, #btn-contact-design:hover, #btn-order:hover{
    background-color: #e8e9ea;
}
.btn-signup:hover{
    background-color: #efe7db; 
    color: black;
}
#btn-submit:hover{
    background-color: #fafafa;
}
/*--Navbar--*/
.container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
.nav-link {
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
}
.navbar-brand .navbar {
    width: 80px; 
    height: 30px; 
    margin-top: 5px; 
    margin-bottom: 20px;
}
.bg-color-navbar {
    background-color: #e8e9ea;
}
.navbar-nav .nav-item .nav-link:hover {
    color: #ca2f2f;
}
/*--Home page Hero Video--*/
/*--Credit for full-width video: https://css-tricks.com/full-page-background-video-styles/ --*/
.video {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    padding-top: 30px;
    position: relative;
    width: 100%;
    z-index: 0;
}
.overlay-box{
    background-color: #efe7db;
    border-radius: 20px;
    height: 170px;
    opacity: 0.7;
    position: absolute;
    top: 70px;
    width: 400px;
    z-index: 1;
}
#overlay-title{
    color: #ca2f2f; 
    font-family: 'Fredericka the Great', cursive; 
    font-size: 40px; 
    font-weight: 400;
    margin-top: 20px;
    text-align: center; 
    z-index: 2; 
}
#overlay-subtext {
    color: #ca2f2f; 
    font-family: 'Caveat', cursive;
    font-size: 25px;
    text-align: center;
}
/*--Home page content--*/
.content-container {
    margin-right: 30px;
    margin-top: 20px;
    text-align: center;
    -moz-box-pack: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}
#intro-content {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    font-weight: 600;
}
hr {        
    border:none;
    height:15px;
    -webkit-box-shadow: 0 5px 5px -5px #333;
            box-shadow: 0 5px 5px -5px #333;
    width: 150px;
}
#mission-heading {
    padding-top: 30px;
}
.testimonials-container{
    padding-bottom: 200px;
}
#testimonials-heading{
    padding-bottom: 20px;
    padding-top: 30px;
}
.quotations{
    padding-left: 20px;
    text-align: center;
    width: 90%;
}
/*--Home page Hero images--*/
.hero-image {
    padding-top: 40px;
}
/*--About page--*/
#about-heading {
    padding-top: 120px;
}
#about-subheading {
    padding-bottom: 20px;
}
.about-text {
    padding-bottom: 30px;
    text-align: justify; 
}
.container-photo{
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    padding-bottom: 40px; 
    padding-left: 200px; 
    }
#about-activities{
    padding-bottom: 20px; 
    padding-left: 20px;
}
.activities-list{
    font-size: 20px; 
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center; 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    }
.download-brochure {
    padding-bottom: 50px; 
    padding-left: 20px;
    text-align: center;
}
/*--Gallery page--*/
#gallery-heading {
    padding-bottom: 30px;
    padding-top: 100px; 
}
.gallery{
    text-align: center;
}
/*--Customize your product page--*/
.customize{
    text-align: center; 
}
#customize-heading {
    padding-top: 100px;
}
#customize-subheading{
    padding-bottom: 20px;
}
.customize-process {
    justify-items: center; 
    padding-bottom: 60px;
    padding-top: 60px; 
    text-align: center; 
}
.customize-icons{
    color: #ca2f2f;
}
.card{
    background-color: #e8e9ea; 
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom:40px;
}
.card-img-top{
    height: 100%; 
    -o-object-fit: cover; 
    object-fit: cover;
    width: 100%;
}
.card-title{
    color: #ca2f2f;
}
/*--Contact page--*/
/*-- Credit for full page background image: https://css-tricks.com/perfect-full-page-background-image/ --*/
.bg-img {
    left: 0;
    max-height: 100%;
    min-width: 100%;
    opacity: 0.9;
    position: fixed;
    top: 0;
    z-index: -1;
}
.contact-bg-color {
    background-color: #fafafa;
}
#contact-heading {
    font-weight: 500;
    padding-top: 80px;
}
#contact-subheading {
    color: #ca2f2f;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}
.form-container {
    background-color: #fafafa; 
    margin-bottom: 180px;
    max-width: 60%;
    opacity: 0.7;
}
.form-group, .form-control{
    color: black;
    font-size: 15px;
    font-weight: 700;
}
/*--Footer--*/
.bg-color-footer {
    background-color: #e8e9ea;
}
/*--Credit for fixed footer at the bottom of the page: https://stackoverflow.com/questions/18915550/fix-footer-to-bottom-of-page --*/
.footer{
    bottom: 0;
    font-size: 20px;
    height: 150px;
    position: fixed;
    width: 100%;
}
.footer-heading {
    font-family: 'Josefin Slab', serif;
    font-size: 25px;
    padding-top: 15px; 
    text-transform: none;
}    
#copyright-column{
    -ms-flex-line-pack: end;
    align-content: flex-end;
    display: inline-block;
    font-size: 18px;
    text-align: end;
    padding: 30px 100px;
}
#social-column {
    display: inline-block;
    font-size: 18px; 
    text-align: center;
    padding-left: 120px;
}
.social-links{
    display: inline;
    font-size: 30px; 
}
.fab:hover {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4); 
    transform: scale(1.4);
}
    /*--Media Queries--*/
/*--Phones--*/
@media (max-width: 575.98px){
    .video{
        margin-top:60px;
    }
    .overlay-box {
        height: 203px; 
        padding-top: 20px;
        width: 170px;
    }
    #social-column{
        text-align: center; 
        -ms-flex-line-pack: center; 
        align-content: center; 
        width: 80%;
    }
    .download-brochure {
        padding-left: 60px;
    }
    .form-container{
        max-width: 85%;
    }   
    #contact-heading{
        padding-top: 100px;
    }
    .btn-submit{
        font-size: 80%;
        padding: 2px 4px;
    }
    }
/*--Landscape phones--*/
@media (max-width: 767.98px){
    .overlay-box {
        height: 165px;
        width: 170px;
    }
    #overlay-title, #overlay-subtext {
        font-size: 20px;
    }
    .testimonials-container{
    padding-bottom: 350px;
    }
    .footer{
        height: 320px;
        width: 100%;
    }
    #newsletter-column{
        margin-left: 10px;
    }
    #btn-download{
        margin-bottom: 300px;
    } 
    .container-photo{
        padding-left:0;
    }
    .button-order, .button-contact{
        padding-bottom: 400px;
    }
    .form-container{
        margin-bottom: 400px;
    }
}
    /*--Tablets--*/
    @media (max-width: 991.98px) {
    #copyright-column {
        text-align: center; 
        padding: 5px 10px 10px;
    } 
    #social-column{
        padding-left: 40px;
    }
    }