/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*--UX Colors
 Light beige shade: #EFE7DB Crown Paint Beige Light
 Light grey shades: #ecf0f1 Porcelain color
 Red Shade: #ca2f2f Benjamin Moore Red
 Grey shades: #778899 Light Slate Gray
--*/

/*--Google Fonts:
Fredericka the Great: weight 400, headings h1 and h2
Josefin Slab: weight 400-700, general font serif
--*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Cormorant:wght@400;500;600;700&family=Exo:wght@400;500;600;700&family=Fredericka+the+Great&family=Josefin+Slab:wght@400;500;600;700&display=swap');

body {font-family: 'Josefin Slab', serif; color:#778899;
background-color: #F5F5F5;}
p {font-family: 'Josefin Slab', serif;
font-size: 20px;
font-weight: 600;}
h2{color: #ca2f2f;}

/*--Links--*/
a {font-weight: bold; text-decoration:none; color: #778899;}
a:hover, a:focus, a:active {text-decoration: none; color: #ca2f2f;}

/*--Navbar--*/
.container {position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
text-align: center;}
.nav-link {font-family: 'Josefin Slab', serif;
font-weight: bold;
text-align: center;}
.navbar .navbar-brand {width: 80px; height: 30px; margin-top: 5px; margin-bottom: 20px;}
.bg-color-navbar {background-color: #e8e9ea;}
.navbar-nav .nav-item .nav-link:hover {color: #ca2f2f;}
.navbar-buttons .btn {display: -webkit-box;display: -ms-flexbox;display: inline-block;
    padding: 5px;
    font-size: 10px;
    font-weight: 700;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
border: 1px solid #778899;
background-color: #fafafa;
text-decoration: none;
-webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);}
.btn:visited, .btn:hover, .btn:focus, .btn:active {background-color: #ca2f2f;
border: 1px solid #778899;}

/*--Home page Hero Video--*/
/*--Credit for full-width video: https://warwick.ac.uk/services/its/intranet/projects/webdev/sandbox/matmannion/fullwidth-video/ --*/
.video {position: relative;
    -o-object-fit: cover;
       object-fit: cover;
width: 100%;
height: 100%;
overflow: hidden;
z-index: 0;
padding-top: 30px;}
.overlay-box{position: absolute;
    top: 70px;
    left: 0px;
    width: 400px;
    height: 170px;
    background-color: #e8e9ea;
    opacity: 0.7;
z-index: 1;
border-radius: 20px;}
#overlay-title{color: #ca2f2f; font-family: 'Fredericka the Great', cursive; font-size: 40px; font-weight: 400;
z-index: 2; text-align: center; margin-top: 20px;}
#overlay-subtext {color: #ca2f2f; font-family: 'Caveat', cursive;
font-size: 25px;
text-align: center;}


/*--Home page content--*/
.content-container {text-align: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
margin-right: 30px;
margin-top: 20px;}
#intro-content {font-family: 'Caveat', cursive;
font-size: 30px;
font-weight: 600;}
hr {border:none;
    width: 150px;
    height:15px;
    box-shadow: 0 5px 5px -5px #333;}
#mission-heading {font-family: 'Fredericka the Great', cursive;
text-transform: uppercase;
font-size: 30px;
padding-top: 30px;}
#btn-read{border: 1px solid gray; background-color: #ca2f2f; font-weight: 600;}
#btn-read:hover {background-color: #e8e9ea;}

/*--Home page Hero images--*/
.hero-image {padding-top: 40px;}
/*--Footer--*/
.bg-color-footer {background-color: #e8e9ea;}
/*--Credit for fixed footer at the bottom of the page: https://stackoverflow.com/questions/18915550/fix-footer-to-bottom-of-page --*/
.footer{position: fixed;
height: 150px;
width: 100%;
font-size: 20px; bottom: 0;}
.footer-heading {font-size: 25px;
    padding-top: 15px;}
    .btn-signup{background-color: #ca2f2f; color: black;}
     .btn-signup:hover{background-color: #fafafa; color: black;}
#copyright-column{display: inline-block;
    -ms-flex-line-pack: end;
        align-content: flex-end;
        text-align: end;
    padding: 30px 100px;
    font-size: 18px;
}
#social-column {display: inline-block;
    text-align: end;
    font-size: 18px; padding-left: 120px;
    }
.social-links{display: inline; font-size: 30px; -webkit-box-align: start; -ms-flex-align: start; align-items: start;}
.fab:hover {
    -webkit-transform: scale(1.4); -ms-transform: scale(1.4); transform: scale(1.4);}

/*--About page--*/
#about-heading {font-family: 'Fredericka the Great', cursive;
text-transform: uppercase;
font-weight: 400;
text-align: center;
font-size: 30px;
padding-top: 120px;}
#about-subheading {font-family: 'Caveat', cursive;
font-size: 30px;
font-weight: 600; text-align: center; padding-bottom: 20px;}
.about-text {font-family: 'Josefin Slab', serif;
font-size: 20px;
font-weight: 600; text-align: justify; padding-bottom: 30px;}
.container-photo{padding-bottom: 40px; padding-left: 200px; align-items: center; align-content: center;}
#about-activities{font-family: 'Caveat', cursive;
font-size: 30px;
font-weight: 600; text-align: center; padding-bottom: 20px; padding-left: 20px;}
.activities-list{font-size: 20px; text-align: center; justify-content: center;
    font-weight: 600; padding-bottom: 10px;}
.download-brochure {text-align: center;
justify-items: center;padding-bottom: 50px; padding-left: 20px;}
#btn-download {text-align: center;
border: 1px solid gray; background-color: #ca2f2f; font-weight: 600; margin-bottom: 150px;}
#btn-download:hover {background-color: #e8e9ea;}
/*--Gallery page--*/
#gallery-heading {font-family: 'Fredericka the Great', cursive;
text-transform: uppercase;
font-weight: 400;
text-align: center;
font-size: 30px;
padding-top: 100px; padding-bottom: 30px;}
.gallery-subheadings{font-size: 30px; font-family: 'Caveat', cursive; text-align: center; font-weight: 600;}
.gallery{-webkit-box-align: center;-ms-flex-align: center;align-items: center; -ms-flex-line-pack: center; align-content: center; text-align: center;}
.button-order{padding-bottom: 300px; text-align: center; padding-top: 40px;}
#btn-order{border: 1px solid gray; background-color: #ca2f2f; font-weight: 600;}
#btn-order:hover{background-color: #e8e9ea;}

/*--Customize your product page--*/
.customize{text-align: center; justify-content: center;}
#customize-heading {font-family: 'Fredericka the Great', cursive;
text-transform: uppercase;
font-weight: 400;
text-align: center;
font-size: 30px;
padding-top: 100px;}
#customize-subheading{font-family: 'Caveat', cursive;
font-size: 30px;
font-weight: 600; text-align: center; padding-bottom: 20px;}
.customize-process {text-align: center; justify-items: center; padding-top: 60px; padding-bottom: 60px;}
.customize-icons{color: #ca2f2f;}
.card{height: fit-content; background-color: #e8e9ea; margin-bottom:40px;}

/*--Credit for images display into the cards: https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width --*/
.card-img-top{width: 100%; height: 100%; object-fit: cover;}
.card-title{color: #ca2f2f;}
.button-contact {text-align: center; justify-content: center; padding-bottom: 200px; padding-top: 20px;}
#btn-contact-design {border: 1px solid gray; background-color: #ca2f2f; font-weight: 600;}
#btn-contact-design:hover{background-color:  #e8e9ea;}
/*--Contact page--*/
/*-- Credit for full page background image: https://css-tricks.com/perfect-full-page-background-image/ --*/
.bg-img {position: fixed;
top: 0;
left: 0;
min-width: 100%;
max-height: 100%;
z-index: -1;
opacity: 0.9;}

.contact-bg-color {background-color: #fafafa;}

#contact-heading {font-family: 'Fredericka the Great', cursive;
    color: #ca2f2f;
text-transform: uppercase;
font-weight: 500;
text-align: center;
font-size: 30px;
padding-top: 80px;}

#contact-subheading {font-family: 'Josefin Slab', serif;
color: #ca2f2f;
font-size: 20px;
font-weight: bolder;
text-align: center;}

.form-container {background-color: #fafafa;
opacity: 0.7;
max-width: 60%; margin-bottom: 180px;
}
.form-group{text-transform: uppercase;
font-weight: 600;
color: black;
font-size: 13px;}
.btn-submit{border: 1px solid gray;
background-color: #ca2f2f;}
.btn-submit:hover{background-color: #fafafa;}

    /*--Media Queries--*/
/*--Phones--*/
@media (max-width: 575.98px){
    .video{margin-top:60px;}
    .overlay-box {width: 170px;height: 203px; margin-top: 10px; padding-top: 20px;}
    #overlay-title {font-size: 20px; vertical-align: middle;}
    #overlay-subtext {font-size: 20px; text-align: center;}
    .footer-heading {font-size: 25px; padding-left: 40px; text-align: center;}
    #newsletter-column{text-align: center; -ms-flex-line-pack: center; align-content: center;}
#social-column{text-align: center; -ms-flex-line-pack: center; align-content: center; width: 80%;}
.social-links {font-size: 30px;}
.about-text{text-align: justify; width: 100%;}
.download-brochure {text-align: center;
justify-items: center; padding-left: 60px;}
.form-container{max-width: 80%;}
#contact-heading{padding-top: 100px;}
/*--Credit button responsive: https://gist.github.com/raihan004/42b2c14936eba79ee68b --*/
.btn-submit{padding: 2px 4px;
font-size: 80%;}
}

/*--Landscape phones--*/
@media (max-width: 767.98px){.overlay-box {width: 170px;height: 165px; padding-top: 20px;}
    #overlay-title {font-size: 20px; vertical-align: middle;}
    #overlay-subtext {font-size: 20px; text-align: center;}
      .footer{position: fixed; height: 320px;
width: 100%;
font-size: 20px; bottom: 0;}
#newsletter-column{margin-left: 10px;}
#social-column{text-align: end; padding-left: 40px; -ms-flex-line-pack: center; align-content: center;}
#copyright-column {font-size: 18px; text-align: center; padding-right: 10px;}
#btn-download{margin-bottom: 300px;} 
.container-photo{padding-left:0; width: fit-content;}
.button-order{padding-bottom: 400px;}
.form-container{margin-bottom: 400px;}
.button-contact{padding-bottom: 350px;}
}
    
    /*--Tablets--*/
    @media (max-width: 991.98px) {#copyright-column {font-size: 18px; text-align: center; padding: 5px 10px 10px;} 
    #social-column{text-align: center; padding-left: 40px; -ms-flex-line-pack: center; align-content: center;}}